body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    background-image: url(../images/goo2.jpg);
    background-position: center top;
}
button{
    width: 80px;
    height: 40px;
    background: transparent;
    border: 1px solid white;
    color: white;
}
button:hover{
    background-color: #583d72;
    cursor: pointer;
}

/*****Intro page******/
#intro{
    text-align: center;
    align-items: center;
    margin-top: 10%;
}

.welcome{
    font-size: 4rem;
    color: white;
}
.enterPassword{
    color: white;
    margin: 1em;
}
.passwordInput{
    margin-bottom: 1.5em;
}
input{
    width: 20%;
    height: 25px;
    border: none;
    outline: none;
}

@media (max-width: 600px){
    body{
        background-size: cover;
        background-repeat: no-repeat;
    }
    #intro{
        margin-top: 25%;
    }

    input{
        width: 40%;
    }
}